.note{
  width: 30px;

}

.add{
  width: 30px;


}

.card{
  background-color: 	rgb(176, 190, 230);
  padding: 20px;
  border-radius: 7px;
  margin: 15px;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;



}

.dispo{
  font-size: 18px;
  font-weight: bold;

}

ion-toolbar{
  --background: #b0bee6;
}

.card2{
  border-radius: 5px;
  border-left: 3px solid rgb(176, 190, 230);
  margin: 10px;
  padding: 10px;
  box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);

}

p{
  font-size: 15px;
}

.foto{
  border-radius: 50%;
}

ion-item-sliding{
  height: 150px;
}

ion-badge{
  background-color: rgb(127, 137, 165);
  width: 25px;
}
