<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" class="foto" src="../assets/empregador.png" />
        </ion-thumbnail>
        <ion-label>Bem vinda(o), {{empregador.nome}}!</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label [routerLink]="['../perfil-empregador']" routerLinkActive="router-link-active">Perfil</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label [routerLink]="['../login-empregadorrr']" routerLinkActive="router-link-active">Duvidas frequentes</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label [routerLink]="['../equipe']" routerLinkActive="router-link-active">Equipe</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="document-attach" slot="start"></ion-icon>
        <ion-label [routerLink]="['../empregador-vagas']" routerLinkActive="router-link-active">Disponibilizar vagas</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="exit" color="danger" slot="start"></ion-icon>
        <ion-label [routerLink]="['../home']" routerLinkActive="router-link-active">Sair</ion-label>
      </ion-item>



    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title class="alinha"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div class="card">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img src="../assets/notes.png" alt="" class="note">
          </ion-col>
          <ion-col size="8" class="dispo">Disponibilizar vaga</ion-col>
          <ion-col size="2">
            <img src="../assets/button.png" [routerLink]="['../empregador-vagas']" routerLinkActive="router-link-active" alt="" class="add">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="row">
      <div class="card2">
        <p>Espacinho dedicado a publicação de vagas </p>

      </div>
    </div>






  </ion-content>
</div>
