<ion-header >

</ion-header>

<ion-content class="conteudo">
  <div class="sessao-login ion-padding">

    <div class="heading">
      <h1>Seja bem vindo!</h1>
      <p>Conecte-se para continuar</p>
    </div>

    <div class="formulario-login ion-padding">

      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="ion-button ion-padding">
      <ion-button size="large" class="botao-login" [routerLink]="['../interface-empregado']" routerLinkActive="router-link-active">Entrar</ion-button>
      <p>Esqueceu sua senha?</p>
      <ion-button size="large" class="botao-cadastro" fill="outline" routerLink="../cadastro-empregado">Cadastre-se</ion-button>
    </div>


  </div>



</ion-content>
