<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>login-empregado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <form [formGroup]="formLogin1">

    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input type="password" formControlName="confirmaSenha"></ion-input>
    </ion-item>


    <ion-button expand="block" (click)="salvarLogin()" class="botao-entrar">Entrar</ion-button>
    <br>

    <ion-button expand="block">Cadastre-se</ion-button>



  </form>

</ion-content>
