<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>login-empregado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>


    <ion-button expand="block">Entrar</ion-button>


  </form>

</ion-content>
