<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card div class="card">
    <ion-card-content>


      <div>
        <form [formGroup]="formCadastro">

          <div>
            <ion-item>
              <ion-label position="floating">Categoria:</ion-label>
              <ion-input formControlName="categoria"></ion-input>
              <ng-container *ngFor="let erro of mensagens.categoria">
                <span class="msg-erro"
                *ngIf="formCadastro.get('categoria').hasError(erro.tipo) && (formCadastro.get('categoria').dirty || formCadastro.get('categoria').touched)">
                  {{erro.mensagem}}
                </span>
              </ng-container>
            </ion-item>
          </div>



          <div>
            <ion-item>
              <ion-label position="floating">Descrição da vaga:</ion-label>
              <ion-input formControlName="descricao"></ion-input>
              <ng-container *ngFor="let erro of mensagens.descricao">
                <span class="msg-erro"
                *ngIf="formCadastro.get('descricao').hasError(erro.tipo) && (formCadastro.get('descricao').dirty || formCadastro.get('descricao').touched)">
                  {{erro.mensagem}}
                </span>
              </ng-container>
            </ion-item>
          </div>



          <div>
            <ion-item>
              <ion-label position="floating">Horário:</ion-label>
              <ion-input formControlName="horario"></ion-input>
              <ng-container *ngFor="let erro of mensagens.horario">
                <span class="msg-erro"
                *ngIf="formCadastro.get('horario').hasError(erro.tipo) && (formCadastro.get('horario').dirty || formCadastro.get('horario').touched)">
                  {{erro.mensagem}}
                </span>
              </ng-container>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label position="floating">Pagamento em R$:</ion-label>
              <ion-input formControlName="pagamento"></ion-input>
              <ng-container *ngFor="let erro of mensagens.pagamento">
                <span class="msg-erro"
                *ngIf="formCadastro.get('pagamento').hasError(erro.tipo) && (formCadastro.get('pagamento').dirty || formCadastro.get('pagamento').touched)">
                  {{erro.mensagem}}
                </span>
              </ng-container>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label position="floating">Quantidade de vagas:</ion-label>
              <ion-input formControlName="qntd"></ion-input>
              <ng-container *ngFor="let erro of mensagens.qntd">
                <span class="msg-erro"
                *ngIf="formCadastro.get('qntd').hasError(erro.tipo) && (formCadastro.get('qntd').dirty || formCadastro.get('qntd').touched)">
                  {{erro.mensagem}}
                </span>
              </ng-container>
            </ion-item>
          </div>


          <div>
            <ion-button size="large" (click)="salvarCadastroVagas()">Enviar</ion-button>
          </div>
        </form>
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>
