<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card div class="card">
    <ion-card-content>


      <div>
        <form action="">
          <div>

            <ion-item>
              <ion-select interface="popover" placeholder="Categoria" class="categoria">
                <ion-select-option value="estoque">Estoque</ion-select-option>
                <ion-select-option value="culinaria">Culinária</ion-select-option>
                <ion-select-option value="empacotador">Empacotador</ion-select-option>
                <ion-select-option value="especiais">Datas Especiais</ion-select-option>
                <ion-select-option value="organizador">Organizador</ion-select-option>
                <ion-select-option value="garcom">Garçom</ion-select-option>
                <ion-select-option value="motoboy">Motoboy</ion-select-option>
              </ion-select>
              <ion-input></ion-input>
            </ion-item>

          </div>

          <br>

          <div>
            <ion-item>
              <ion-label position="floating">Descrição da vaga:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>



          <div>
            <ion-item>
              <ion-label position="floating">Horário:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label position="floating">Pagamento em R$:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label position="floating">Quantidade de vagas:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>


          <div>
            <ion-button size="large">Enviar</ion-button>
          </div>
        </form>

      </div>


    </ion-card-content>
  </ion-card>

</ion-content>
