<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Quem somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <img src="../assets/colaboracao.gif" alt="">
  </div>

  <div class="row">
    <div class="card">
      <h2>Quem somos?</h2>
      <p>Criado por 3 estudantes, o nosso app preza o falicitamento da entrada em um emprego temporário, conhecido popularmente como fleelance.</p>
      <p>O aplicativo foi desenvolvido logo após a crise do período pandêmico, onde se aumentou muito os índices de desemprego, mas também visando ajudar a todos aqueles que simplesmente querem complementar a renda.</p>
    </div>
  </div>

</ion-content>
