<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-total">

    <div class="capa">
      <div class="foto">
        <img src="https://play-lh.googleusercontent.com/zbqruZrdVULsGpzYAun1Wud8Yw_1wrJlTCzgmGmI3pJFXCRrt4jKjMzBP6mGmU1UJkme" alt="">
      </div>
      <h2>{{empregador.nome}}</h2>
    </div>

    <hr size="10" width="100%" align="center" noshade>
    <br>


    <div class="card">
      <h2>Descrição</h2>
         <div class="dadostabela">
          <p class="ion-text-center">Profissional procurando por trabalhadores na empresa XXXX.</p>
         </div>
    </div>


    <div class="card">
        <h2>CNPJ</h2>
          <div>
            <ul>
              <li>{{empregador.cnpj}}</li>
            </ul>
          </div>
    </div>

    <div class="card">
      <h2>Empresa</h2>
        <div>
          <ul>
            <li>{{empregador.empresa?.nome}}</li>
            <li><img src="../assets/icone-cidade.png"  width="15px" height="15px" alt="Icone Cidade">{{empregador.empresa?.endereco}}</li>
            <li><ion-icon name="globe-outline"></ion-icon>{{empregador.empresa?.email}}</li>
          </ul>
        </div>
  </div>


    <div class="card">
      <div>
        <h2>Contato</h2>
        <ul>
            <li><img src="../assets/fone-icone.png"  width="15px" height="15px" alt="Icone Telefone">{{empregador.telefone}}</li>
            <br>
            <li><img src="../assets/icone-cidade.png"  width="15px" height="15px" alt="Icone Cidade">{{empregador.cidade?.nome}}</li>
        </ul>
       </div>
    </div>

  </div>

</ion-content>
