<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>
    Aqui fica seu histórico de vagas
  </h1>

  <div class="card">
    <h2>Cozinheiro</h2>
    <hr size="10" width="100%" align="center" noshade>
       <div class="dadostabela">
        <p> <b>Local:</b>  CIA da esfiha, RUA xxxxxxx N:58</p>
        <p> <b>Descrição:</b> Vaga de cozinheiro para o dia 22/08/2022</p>
        <p> <b>Horário:</b> 19:00</p>
        <p> <b>Pagamento:</b> 60,00</p>
        <p> <b>Quantidade de vagas:</b> 2</p>
        <hr size="10" width="100%" align="center" noshade>
       </div>
  </div>

  <div class="card">
    <h2>Motoboy</h2>
    <hr size="10" width="100%" align="center" noshade>
       <div class="dadostabela">
        <p> <b>Local:</b>  XXXXX, RUA xxxxxxx N:58</p>
        <p> <b>Descrição:</b> Vaga de motoboy para o dia 22/08/2022</p>
        <p> <b>Horário:</b> 19:00</p>
        <p> <b>Pagamento:</b> 60,00</p>
        <p> <b>Quantidade de vagas:</b> 1</p>
        <hr size="10" width="100%" align="center" noshade>
       </div>
  </div>

</ion-content>
