<ion-header>
  <ion-toolbar>
    <ion-title>Vagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card">
    <h2>Cozinheiro</h2>
    <hr size="10" width="100%" align="center" noshade>
       <div class="dadostabela">
        <p> <b>Local:</b>  CIA da esfiha, RUA xxxxxxx N:58</p>
        <p> <b>Descrição:</b> Vaga de cozinheiro para o dia 22/08/2022</p>
        <p> <b>Horário:</b> 19:00</p>
        <p> <b>Pagamento:</b> 60,00</p>
        <p> <b>Quantidade de vagas:</b> 2</p>
        <hr size="10" width="100%" align="center" noshade>
       </div>
  </div>

</ion-content>
