<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains"   class="foto-perfil" src="https://play-lh.googleusercontent.com/zbqruZrdVULsGpzYAun1Wud8Yw_1wrJlTCzgmGmI3pJFXCRrt4jKjMzBP6mGmU1UJkme" />
        </ion-thumbnail>
        <ion-label>Bem vinda(o), Geovana!</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label [routerLink]="['../perfil-empregado']" routerLinkActive="router-link-active">Perfil</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label [routerLink]="['../login-empregado']" routerLinkActive="router-link-active">Mensagens</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label [routerLink]="['../login-empregado']" routerLinkActive="router-link-active">Equipe</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="document-attach" slot="start"></ion-icon>
        <ion-label [routerLink]="['../login-empregado']" routerLinkActive="router-link-active">Vagas</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="exit" slot="start" color="danger"></ion-icon>
        <ion-label [routerLink]="['../login-empregado']" routerLinkActive="router-link-active" color="danger">Sair</ion-label>
      </ion-item>



    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title class="alinha"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-slides>
      <ion-slide>
        <div class="slide">
          <img src="../assets/ateez.jfif" />
          <h2>Welcome</h2>
          <p>
            The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a
            demonstration of proper code use.
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="../assets/ateez.jfif" />
        <h2>What is Ionic?</h2>
        <p>
          <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps
          with web technologies like HTML, CSS, and JavaScript.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="./slide-3.png" />
        <h2>What is Appflow?</h2>
        <p>
          <b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
          totally new level of app development agility to mobile dev teams.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="./slide-4.png" />
        <h2>Ready to Play?</h2>
        <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
    </ion-slides>




      <ion-list>
        <ion-item>
          <ion-select interface="popover" placeholder="Estoque" class="categoria">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select interface="popover" placeholder="Garçom">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select interface="popover" placeholder="Culinária">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select interface="popover" placeholder="Empacotador">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select interface="popover" placeholder="Organizador">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select interface="popover" placeholder="Datas Especiais">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>





  </ion-content>
</div>
