<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" class="foto-perfil" src="../assets/empregado.png" />
        </ion-thumbnail>
        <ion-label>Bem vinda(o), {{empregado.nome}}!</ion-label>
      </ion-item>

      <br>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label [routerLink]="['../perfil-empregado']">Perfil</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label [routerLink]="['../equipe']" routerLinkActive="router-link-active">Equipe</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="exit" slot="start" color="danger"></ion-icon>
        <ion-label [routerLink]="['../home']" routerLinkActive="router-link-active" color="danger">Sair</ion-label>
      </ion-item>

      <br>

      <p class="ion-text-center p">Entre em contato conosco!</p>
      <p class="ion-text-center p" href="mailto:geovana.oliveira47@etec.sp.gov.br">geovana.oliveira47@etec.sp.gov.br</p>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title class="alinha"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div>
      <ion-searchbar></ion-searchbar>
    </div>

    <br>

    <div class="card">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img src="../assets/notes.png" alt="" class="note">
          </ion-col>
          <ion-col size="8" class="dispo ion-text-center">Vagas Disponibilizadas</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <br>

    <ion-list>
      <ion-item-sliding *ngFor="let vaga of listaVagas" routerLink="/perfil-empregador" class="cardvaga">
        <ion-item>
          <ion-label>
            <div>
              <h1>{{vaga.categoria}}</h1>
              <p>{{vaga.descricao}}</p>
              <p>{{vaga.horario}}</p>
              <p>{{vaga.pagamento}}</p>
              <ion-badge slot="start">{{vaga.qntd}}</ion-badge>
            </div>
          </ion-label>
        </ion-item>
        </ion-item-sliding>
        <br>
    </ion-list>

  </ion-content>
</div>
