.foto-perfil{
  border-radius: 50%;
}

ion-slides {
  height: 50%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 15px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

ion-popover {
  --width: 80px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.card{
  background-color: 	#b0bee6;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.aceitar-botao{
  --background: 	#81d89b;
}

.recusar-botao{
  --background: 	#e0b7a7;
}

.tempo h2{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.tempo{
  background-color: 	#b0e0e6;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

ion-card{
  background-color: 	#b0e0e6;
}

.clima{
  width: 50px;
}

.row{
  display: flex;
  align-items: center;
  margin-left: 150px
}

h3{
  font-size: 30px;
  margin-left: 150px
}

ion-toolbar{
  --background: #b0bee6;
}

h2{
  font-size: 25px;
}

ion-badge{
  background-color: #7989b6;
  width: 25px;
  margin-left: 40px;
}

.largura{
  width: 70px;
}

.icone1{
  height: 50px;
}

.icone2{
  height: 50px;
}

.caralho{
  background-color: #6578ac;
}

.caralho2{
  background-color: #485986;
}

.p{
  font-size: 15px;
}

h1{
  margin-left: 38px;
}
