<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-total">

    <div class="capa">
      <div class="foto">
        <img src="../assets/empregado.png" alt="">
      </div>
      <h2>{{empregado.nome}}</h2>
    </div>


    <div class="card">
      <h2>Descrição</h2>
         <div class="dadostabela">
          <p class="ion-text-center">
            {{empregado.disponibilidade}}
          </p>
         </div>
    </div>


    <div class="card">
        <h2>Currículo</h2>
          <div>
            <ul>
              <li>{{empregado.experiencias}}</li>
            </ul>
          </div>
    </div>


    <div class="card">
      <div>
        <h2>Contato</h2>
        <ul>
            <li><img src="../assets/icone-email.png" width= "15px" height="15px" alt="Icone Email"/> <a href="{{empregado.email}}">{{empregado.email}}</a></li>
            <br>
            <li><img src="../assets/fone-icone.png"  width="15px" height="15px" alt="Icone Telefone">{{empregado.telefone}}</li>
            <br>
            <li><img src="../assets/icone-cidade.png"  width="15px" height="15px" alt="Icone Cidade">{{empregado.cidade?.nome}}</li>
        </ul>
       </div>
    </div>

  </div>

</ion-content>
