<ion-header>
  <ion-toolbar>
    <ion-title>perfil-empregado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="capa">
    <div class="foto">
      <img src="https://play-lh.googleusercontent.com/zbqruZrdVULsGpzYAun1Wud8Yw_1wrJlTCzgmGmI3pJFXCRrt4jKjMzBP6mGmU1UJkme" alt="">
    </div>
    <h1>Geovana Moreira de Oliveira</h1>
  </div>


  <div class="card">
    <h1>Descrição</h1>
       <div class="dadostabela">
        <p>Lucky, lucky girl, she got married to a boy like you
          She'd kick you out if she ever, ever knew
          'Bout all the shit you tell me that you do
          Dirty, dirty boy, you know everyone is talking on the scene
          I hear them whispering about the places that you've been
          And how you don't know how to keep your business clean

          Mummy don't know daddy's getting hot
          At the body shop
          Doing something unholy
          He's sat back while she's dropping it
          She be popping it
          Yeah, she put it down slowly</p>
       </div>
  </div>


  <div class="card tamanho-40">
      <h1>Curriculo</h1>
        <div>
          <ul>
            <li>Especialização em xxx</li>
            <li>Experiencia em xxx</li>
            <li>Experiencia em xxx</li>
            <li>Experiencia em xxx</li>
          </ul>
        </div>
  </div>


  <div class="card tamanho-40">
    <div>
      <ul>

          <li><img src="../Aula_07-05-2020/img/icone-etec.png"  width="20px" height="20px" alt="Icone Escola"> Desenvolvimento de Sistemas </li>
          <li><img src="../Aula_07-05-2020/img/icone-github.png"  width="20px" height="20px" alt="Icone Github"> <a href="https://github.com/nmicadei" target="_blank">https://github.com/nmicadei</a></li>
          <li><img src="../Aula_07-05-2020/img/icone-email.png" width= "20px" height="20px" alt="Icone Email"/> <a href="mailto: maisamidei@gmail.com">maisamidei@gmail.com</a></li>
          <li><img src="../Aula_07-05-2020/img/cidade-icone.png"  width="20px" height="20px" alt="Icone Cidade"> <a>Lençóis Paulista - São Paulo</a></li>
      </ul>
     </div>
  </div>

</ion-content>
