<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-total">

    <div class="capa">
      <div class="foto">
        <img src="../assets/empregado.png" alt="">
      </div>
      <h2></h2>
    </div>

    <hr size="10" width="100%" align="center" noshade>
    <br>


    <div class="card">
      <h2>Descrição</h2>
         <div class="dadostabela">
          <p>
            UWU
          </p>
         </div>
    </div>


    <div class="card">
        <h2>Currículo</h2>
          <div>
            <ul>
              <li>Especialização em xxx</li>
              <li>Experiencia em xxx</li>
              <li>Experiencia em xxx</li>
              <li>Experiencia em xxx</li>
            </ul>
          </div>
    </div>


    <div class="card">
      <div>
        <h2>Contato</h2>
        <ul>
            <li><img src="../assets/icone-email.png" width= "15px" height="15px" alt="Icone Email"/> <a href="mailto: maisamidei@gmail.com">  maisamidei@gmail.com</a></li>
            <br>
            <li><img src="../assets/fone-icone.png"  width="15px" height="15px" alt="Icone Telefone"> (14)988007714 </li>
            <br>
            <li><img src="../assets/icone-cidade.png"  width="15px" height="15px" alt="Icone Cidade"> Lençóis Paulista - São Paulo</li>
        </ul>
       </div>
    </div>

  </div>

</ion-content>
