@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.capa{
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  text-align-last: center;
}
.foto{
  width: 80px;
  margin-left: 115px;

}
.foto img{
  width: 100%;
  border-radius: 50%;
  margin-top: 30px;
}

h1{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
h2{
  text-align: center;
}


.card{
  background-color: 	#b0d9e6;
  padding: 20px;
  border-radius: 10px;
  margin: 3px;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
}



ion-toolbar{
  --background: #b6b6e0ea;
}

.card-total{
  background-color: 	#b3b4db;
  padding: 15px;
  border-radius: 5px;
  margin: 15px;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

