@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.conteudo{
  max-height: fit-content;
}
ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0 , 0.1)),
    url("/assets/logo-borrada.png") no-repeat center center / cover;
    font-family: 'Poppins', sans-serif;
}

.botao{
  text-align: center;
  margin-top: 20rem;
  position: fixed;
  width: 100%;
  font-weight: bold;
}

.titulo{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #d6e2e2;
  font-size: 70px;
  text-shadow: 2px 2px #858181;
}

.categoria{
  color: aqua;
}
