@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

.conteudo{
  max-height: fit-content;
}
ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0 , 0.1)),
    url("/assets/logo-borrada.png") no-repeat center center / cover;
}

.sessao-login{
  height: 74vh;
  width: 100%;
  max-width: 500px;
  background: #fff;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;

  .heading{
    margin-top: 20px;
    h1{
      font-size: 1.6rem;
      font-weight: bolder;
    }
    p{
      margin-top: 20px;
      font-size: 1rem;
      color: #7b7b7b;
    }
    .formulario-login{
      .form-input{
        position: relative;
        margin-bottom: 10px;
        ion-item:part(native) {
          padding-left: 0;
        }

        ion-icon{
          position: absolute;
          top: 37px;
          z-index: 2;
          font-size: 1.2rem;
          left: 5px;
        }
      }
    }
  }
}
