<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      TCC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo">
  <h2 id="titulo">Escolha o tipo de conta</h2>

  <ion-grid>
    <ion-row>
      <ion-col>


        <ion-card class="card borda">

          <ion-card-content [routerLink]="['../login-empregado']" routerLinkActive="router-link-active">
            <img src="../assets/empregado.png" alt="">
            <p class="titulo-card">Empregador</p>
          </ion-card-content>
        </ion-card>


      </ion-col>
      <ion-col>


        <ion-card class="card borda2">

          <ion-card-content  [routerLink]="['../login-empregadorrr']" routerLinkActive="router-link-active">
            <img src="../assets/empregador.png" alt="">
            <p class="titulo-card">Empregado</p>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button [routerLink]="['../pagina-inicial']" routerLinkActive="router-link-active">Default</ion-button>

</ion-content>



