<ion-header >

</ion-header>

<ion-content class="conteudo">
<div>
  <div class="titulo">
    <h1>
      FREEMATE
    </h1>
  </div>

  <div class="botao">
    <ion-button size="large" class="botao-empregado" fill="outline" [routerLink]="['../inicio']" routerLinkActive="router-link-active" slot="end">Acesso empregados
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>

    <ion-button size="large" class="botao-empregador" fill="outline" [routerLink]="['../inicio']" routerLinkActive="router-link-active" slot="end">Acesso empregadores
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>

    <ion-button size="large" class="botao-empregador" fill="outline" [routerLink]="['../interface-empregado']" routerLinkActive="router-link-active" slot="end">Acesso empregadores
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</div>




</ion-content>



