@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.conteudo{
  max-height: fit-content;
}
ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0 , 0.1)),
    url("/assets/logo-borrada.png") no-repeat center center / cover;
    font-family: 'Poppins', sans-serif;
}

.botao{
  margin-top: 650px;
  margin-left: 7rem;
  --color: aliceblue;

}
